@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

$clr-main: #9D9D9D;
$clr-main-darker: darken($clr-main, 50%);
$clr-main-lighter: lighten($clr-main, 20%);     

$clr-lightblue: #A2D2FF;

$spacing: .1rem;
$radius: .2rem;
$transition: all .3s linear;
$ff-primary: 'PT Sans', sans-serif;