@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
.MainInfo {
  background: #9d9d9d;
  height: 2rem;
}

.MainInfo_container {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 100%;
}

.MainInfo p {
  font-weight: bold;
  margin-bottom: 0;
}

.MainInfo .openingHoursAndAddressContainer {
  display: none;
}

.MainInfo span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: red;
}

.MainInfo img {
  width: 1.5rem;
  height: 1.5rem;
}

.MainInfo .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.MainInfo .phone p {
  color: white;
}

@media screen and (min-width: 768px) {
  .MainInfo_container {
    width: 80%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .MainInfo .openingHoursAndAddressContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
  .MainInfo .openingHours p {
    font-size: 0.75rem;
  }
  .MainInfo .address p {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .MainInfo .address p {
    display: block;
    color: white;
    font-size: 0.75rem;
  }
}

.Navigation {
  padding: 1rem 0;
  position: relative;
}

.Navigation .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Navigation .logo img {
  width: 6rem;
}

.Navigation .links {
  display: block;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
}

.Navigation .links_hidden {
  display: none;
}

.Navigation .links .link {
  margin-bottom: 0.375rem;
}

.Navigation .links .link a {
  padding: 0.375rem 0;
}

.Navigation .links_container {
  position: relative;
}

.Navigation .links a {
  display: block;
  text-align: center;
  font-size: 1rem;
  color: white;
  background: #9D9D9D;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.Navigation .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.Navigation .menu button {
  background: #9D9D9D;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.Navigation .menu-btn-icon {
  height: 2rem;
  color: white;
  font-size: 2rem;
}

.Navigation .menu-btn-icon:hover {
  cursor: pointer;
}

.dropdown {
  position: relative;
  background: white;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  margin-bottom: 1rem;
}

.social-links img {
  width: 2rem;
}

@media screen and (min-width: 768px) {
  .Navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .Navigation .links a {
    display: block;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #9D9D9D;
  }
  .Navigation .links a:hover {
    color: #1e1e1e;
  }
  .Navigation .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Navigation .links_hidden {
    -webkit-transform: none;
            transform: none;
  }
  .Navigation .links .link {
    border-right: 2px solid #d0d0d0;
    padding: 0 0.5rem;
    position: relative;
  }
  .Navigation .links .link:last-child {
    border-right: none;
  }
  .Navigation .links a {
    background: none;
    margin-bottom: 0;
  }
  .Navigation .links a:hover {
    background: none;
  }
  .Navigation .menu {
    display: none;
  }
  .Navigation .links a:last-child {
    border-right: none;
    padding-right: 0;
  }
  .Navigation .social-links {
    display: none;
  }
}

.Carousel {
  position: relative;
  height: 20rem;
}

.Carousel .image_container {
  height: 100%;
  width: 80vw;
  position: absolute;
  top: 0;
  left: 0;
}

.Carousel .image_container .image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.Carousel .image_container .active {
  opacity: 1;
  -webkit-transition: 0.6s all linear;
  transition: 0.6s all linear;
}

.Carousel .image_container .inactive {
  -webkit-transition: 0.6s all linear;
  transition: 0.6s all linear;
  opacity: 0;
}

.Carousel .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 2%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.Carousel .dots .dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid #9D9D9D;
  cursor: pointer;
  -webkit-transition: .6s all linear;
  transition: .6s all linear;
}

.Carousel .dots .dot .active {
  background: white;
}

@media screen and (min-width: 768px) {
  .Carousel {
    height: 400px;
  }
}

.About {
  margin: 3rem 0;
}

.About .about_first {
  margin-bottom: 2rem;
}

.WhyUs {
  margin: 3rem auto;
  background: #eeeeee;
}

.WhyUs .details_image {
  width: 10rem;
  margin-bottom: 0.5rem;
}

.WhyUs .details_image img {
  border-radius: 0.2rem;
}

.WhyUs .WhyUs_info {
  padding: 2rem 0;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 2rem;
}

.WhyUs_container {
  padding: 2rem 0;
}

.WhyUs .details {
  text-align: center;
}

.WhyUs .details_image {
  margin: 0 auto 1rem;
}

@media screen and (min-width: 576px) {
  .WhyUs .WhyUs_info {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .WhyUs .WhyUs_info {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.Treatment .step {
  margin-bottom: 1rem;
}

.Treatment .step_number {
  margin: 0 auto;
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-weight: bold;
  background: #A2D2FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.Treatment .step_number_container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Treatment .step_number_container p {
  font-size: 0.75rem;
  line-height: 0.75rem;
  margin-bottom: 0;
}

.Treatment .step_number_container p:nth-child(1) {
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.Treatment .step:nth-child(3) .step_number {
  background: #3ca1ff;
}

.Treatment .step:nth-child(4) .step_number {
  background: #d5ebff;
}

.Treatment .step:nth-child(6) .step_number {
  background: #3ca1ff;
}

@media screen and (min-width: 768px) {
  .Treatment .step_number_container p {
    font-size: 1rem;
    line-height: 1rem;
  }
  .Treatment .step_number_container p:nth-child(1) {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

.Gallery {
  margin: 3rem 0;
}

.Gallery .Gallery_container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  row-gap: 2rem;
}

.Gallery .Gallery_photo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.Gallery .Gallery_photo img:hover {
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  .Gallery .Gallery_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1rem 1rem;
  }
  .Gallery .Gallery_photo img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
}

@media screen and (min-width: 992px) {
  .Gallery .Gallery_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 1rem 1rem;
  }
  .Gallery .Gallery_photo img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .Gallery .Gallery_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 1rem 1rem;
  }
  .Gallery .Gallery_photo img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
}

.GalleryCarousel {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: #1e1e1e;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.GalleryCarousel_container {
  width: 80vw;
  height: 53.33vw;
}

.GalleryCarousel_container img {
  width: 80vw;
  height: 53.33vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.GalleryCarousel .img_container {
  width: 100%;
}

.GalleryCarousel .carousel-control-prev-icon {
  color: black !important;
}

.GalleryCarousel .arrow {
  font-size: 3rem;
  color: #1e1e1e;
}

@media screen and (min-width: 576px) {
  .GalleryCarousel_container {
    width: 600px;
    height: 400px;
  }
  .GalleryCarousel_container img {
    width: 600px;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.Blog {
  background: #eeeeee;
  padding: 3rem 0;
}

.Blog .header_info {
  color: #1e1e1e;
  text-align: center;
  margin-bottom: 2rem;
}

.Blog .articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem 1rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.Blog .articles .blog_article {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 300px;
  background: #d5d5d5;
  padding: 1rem;
  border-radius: 1rem;
}

.Blog .articles .blog_article_date {
  color: #6fb9ff;
  font-weight: 600;
  margin-bottom: 1rem;
}

.Blog .articles .blog_article_header {
  text-align: center;
  margin-bottom: 1rem;
  color: #1e1e1e;
}

.Blog .blog_article_text {
  font-size: 0.75rem;
  text-align: justify;
}

.Blog .underline {
  margin: 1rem auto;
  width: 80%;
}

@media screen and (min-width: 768px) {
  .Blog .blog_article_text {
    font-size: 1rem;
  }
  .Blog .articles .blog_article {
    width: 300px;
  }
}

.Map {
  padding: 3rem 0 0;
}

.Map .contact_info {
  display: none;
}

.Map .Map_container {
  position: relative;
  color: white;
  text-align: center;
  height: 450px;
}

.Map .Map_container h4 {
  color: white;
  margin: 0;
  line-height: 1.25;
}

.Map .email h4 {
  text-transform: none;
}

.Map .icon {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  .Map .contact_info {
    background: rgba(29, 185, 195, 0.8);
    padding: 2rem;
    width: 25rem;
    height: 100%;
    position: absolute;
    right: 10%;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.Footer {
  padding: .75rem;
  background: #1e1e1e;
  opacity: 0.9;
  text-align: center;
}

.Footer h4 {
  color: white;
  font-weight: 600;
  margin-bottom: 0;
}

.Rodo {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(29, 185, 195, 0.6);
  padding: .5rem 0;
}

.Rodo p {
  font-size: .75rem;
  text-align: center;
  margin-bottom: 0;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  /* COLORS */
  color: #9D9D9D;
}

/*
  =============== 
  Fonts
  ===============
  */
/*
  =============== 
  Global Styles
  ===============
  */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  background: white;
  color: #9D9D9D;
  line-height: 1.5;
  font-size: 0.875rem;
  height: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  color: #9D9D9D;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  color: #1e1e1e;
}

button {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  line-height: 1;
  border-style: none;
  background: transparent;
}

.section {
  padding: 4rem 0;
}

.section-center {
  width: 80vw;
  margin: 0 auto;
}

.underline {
  position: relative;
  width: 12rem;
  max-width: 12rem;
  height: 0.125rem;
  background: #9D9D9D;
  margin: 0 auto 1rem;
}

.underline::after {
  content: "";
  position: absolute;
  height: 250%;
  width: 50%;
  background: #A2D2FF;
  left: 50%;
  -webkit-transform: translate(-50%, -1px);
          transform: translate(-50%, -1px);
}

.title {
  margin-bottom: 3rem;
}

.title h3 {
  text-transform: uppercase;
  text-align: center;
  color: #1e1e1e;
}

.btn {
  text-transform: uppercase;
  background: #9D9D9D;
  color: #9D9D9D;
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.1rem;
  display: inline-block;
  font-weight: 700;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
}

.btn:hover {
  color: #9D9D9D;
  background: #9D9D9D;
}

input,
input:focus {
  border-radius: 0.2rem;
  padding: 0.25rem;
}

input:focus {
  border: 2px solid #9D9D9D;
  outline: none;
  border-radius: 0.2rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*# sourceMappingURL=main.css.map */